* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: FFFDF4;
  color: #3F514B;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media ( min-width: 576px){
      max-width: 540px;
  }
  @media (min-width: 768px){
      max-width: 720px;
  }
  @media (min-width: 992px){
      max-width: 960px;
  }
  @media (min-width: 1200px){
      max-width: 1140px;
  }
  @media (min-width: 1439px){
      max-width: 1530px;
  }
  
}
img {
  display: block;
}
.d-flex {
  display: flex;
}
.wrapper {
  background-color: #FFFDF4;
  overflow: hidden;
}
.feature {
  padding: 70px 0;
}
.block__box {
  @media (max-width: 991px) {
    padding: 60px 0;
    .box {
      margin-right: 0;
    }
  }
  width: 100%;
  .box {
    
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-right: 0;
    }
    .box__title {
      font-size: 45px;
      padding-bottom: 20px;
      font-weight: 400;
      letter-spacing: -1px;
    }
    .box__text {
      font-size: 19px;
      font-weight: 400;
      max-width: 519px;
      line-height: 27px;
    }
  }
  .yoga {
    @media( max-width: 1199px) {
        
      flex-wrap: wrap;
    }
      
    
    text-align: left;
    display: flex;
    gap: 22px;
    .yoga__box {
    //   @media( max-width: 991px) {
        
    //     &:nth-of-type(1), &:nth-of-type(2) {
    //         margin-bottom: 20px;
    //     }
    //     &:nth-of-type(3) {
    //       margin-left: 0;
    //   }
     
        
    //   }
     
    @media( max-width: 1199px) {
        
      width: calc((100% - 22px) / 2);
    }
    @media( max-width: 575px) {
      width: 100%;        
  }
      .yoga__box-image {
        display: inline-block;
        width: 100%;
      }
      .yoga__box-content {
        margin-top: 15px;
        .content-box {
          .content-box-title {
            font-size: 20px;
            color: #414F42;
            font-weight: 400;
          }
          .content-box-text {
            font-size: 17px;
            margin: 5px 0;
            max-width: 310px;
            line-height: 24px;
          }
          .content-box-price {
            .price-dl {
              text-decoration: line-through;
              font-size: 13px;
              color: #72776C;
              line-height: 18px;
            }
            .price-n {
              font-size: 18px;
              line-height: 20px;
              margin-left: 5px;
            }
          }
        }
        .content-plan {
          margin-top: 20px;
          .cpn-box {
            padding: 12px 0 8px 0;
              border-top: 1px solid #ECEDEC;
              &:nth-of-type(3) {
                border-bottom: 1px solid #ECEDEC;}
            .content-plan-week{
              font-size: 15px;
              margin-right: 20px;
              line-height: 18px;
            }
            .content-plan-content {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

}
.owlbox {
  background-color: #F4F4F4;
  padding: 65px 0;
  
  .container {
    justify-content: center;
    @media (min-width: 1440px) {
      max-width: 1475px;
    }
    .owlbox__block {
      text-align: center;
      background-color: #ffff;
      gap: 20px;
      padding: 50px;
      border-radius: 20px;
      justify-content: center;
      @media (max-width: 991px){
        padding: 30px;
       }
       @media (max-width: 485px){
        padding: 10px;
       }
       @media (max-width: 767px){
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 10px;
       }
       
      .owlbox__block-img {
        border-radius: 10px;
        display: inline-block;
        width: 50%;
        @media (max-width: 767px){
          width: 100%;
         }
      }
      .owlbox__block-item {
        width: 50%;
        @media (max-width: 481px) {
          padding: 5px 5px;
         }

        .item-title {
          text-transform: uppercase;
          font-size: 14px;
          color: #000000 ;
          opacity: 30%;
          margin-bottom: 50px;
          margin-top: 20px;
          line-height: 20px;
          @media (max-width: 481px) {
            font-size: 12px;
           }
           @media (max-width: 991px){
            margin-bottom: 30px;
           }
           @media (max-width: 767px){
            margin-bottom: 15px;
            margin-top: 10px;
           }
        }
        .quote-icon {
          @media (max-width: 481px) {
            margin-top: 10px;
            margin-bottom: 10px;
           }
           
          img{
              width: auto;
              display: inline-block;
              @media (max-width: 991px){
                font-size: 15px;
                width: 10%;
               }
            }

        }
        .item-title-title {
          color: #0D0D0D;
          font-size: 30px;
          line-height: 40px;
          max-width: 494px;
          margin: 0 auto;
          margin-bottom: 20px;
          letter-spacing: -1px;
          @media (max-width: 1200px){
           font-size: 20px;
           line-height: 20px;
          }
          @media (max-width: 991px){
            font-size: 15px;
           }
        }
        .item-title-text {
          font-size: 16px;
          line-height: 20px;
          color: #0D0D0D;
          margin-bottom: 5px;
        }
        .item-title-tg {
          font-size: 15px;
          opacity: 30%;
          color: #000;
          line-height: 22px;
        }
      }
    }
  }
}
